* {
  padding: 0;
  margin: 0;
  font-family: 'roboto', sans-serif;
}

.fristtable {
  width: 100%;
  margin: auto;
  table-layout: fixed;
}
.secondtable {
  font-size: 13px;
  width: 88%;
  margin: 20px auto;
  table-layout: fixed;
}
.thirdtable {
    width: 50%;
    margin: auto;
    table-layout: fixed;
}
.thirdtable #t-top{
    padding-top: 25px;
}
.thirdtable td {
    align-items: center;
  padding-bottom: 25px;
}

h2 {
  text-align: center;
}
p {
  text-align: center;
  font-size: 10px;
}

/* coloring the tables */
.blue {
  background-image: linear-gradient(
      154deg,
      rgb(38, 157, 255)20%,
      transparent 64%
    ),
    linear-gradient(349deg, #2b2bff 73%, transparent 53%);
  box-shadow: inset rgb(255 255 255) 0px 0px 3px 1px;
}

.pink {
  background-image: linear-gradient(
      154deg,
      rgb(254, 154, 247) 40%,
      transparent 64%
    ),
    linear-gradient(349deg, #eb00f7 73%, transparent 53%);
  box-shadow: inset rgb(255 255 255) 0px 0px 3px 1px;
}

.purple {
  background-image: linear-gradient(
      154deg,
      rgb(149, 87, 255) 40%,
      transparent 64%
    ),
    linear-gradient(349deg, #6800c2 73%, transparent 53%);
  box-shadow: inset rgb(255 255 255) 0px 0px 3px 1px;
}

.l-blue {
  background-image: linear-gradient(
      154deg,
      rgb(109, 185, 251) 40%,
      transparent 64%
    ),
    linear-gradient(349deg, #417dff 73%, transparent 53%);
  box-shadow: inset rgb(255 255 255) 0px 0px 3px 1px;
}

.orange {
  background-image: linear-gradient(
      154deg,
      rgb(253, 181, 114) 40%,
      transparent 64%
    ),
    linear-gradient(349deg, #f37514 73%, transparent 53%);
  box-shadow: inset rgb(255 255 255) 0px 0px 3px 1px;
}

.green {
  background-image: linear-gradient(
      154deg,
      rgb(110, 255, 146) 40%,
      transparent 64%
    ),
    linear-gradient(349deg, #12d900 73%, transparent 53%);
  box-shadow: inset rgb(255 255 255) 0px 0px 3px 1px;
}

.yellow {
  background-image: linear-gradient(
      154deg,
      rgb(248 255 129) 40%,
      transparent 64%
    ),
    linear-gradient(349deg, #f3e500 73%, transparent 53%);
  box-shadow: inset rgb(255 255 255) 0px 0px 3px 1px;
}

.mango {
  background-image: linear-gradient(
      154deg,
      rgb(255 211 124) 40%,
      transparent 64%
    ),
    linear-gradient(349deg, #ffaa00 73%, transparent 53%);
  box-shadow: inset rgb(255 255 255) 0px 0px 3px 1px;
}

.l-green {
  background-image: linear-gradient(
      154deg,
      rgb(110, 255, 166) 40%,
      transparent 64%
    ),
    linear-gradient(349deg, #37ff6c 73%, transparent 53%);
  box-shadow: inset rgb(255 255 255) 0px 0px 3px 1px;
}

.red {
  background-image: linear-gradient(
      154deg,
      rgb(250 109 109) 40%,
      transparent 64%
    ),
    linear-gradient(349deg, #ff0000 73%, transparent 53%);
  box-shadow: inset rgb(255 255 255) 0px 0px 3px 1px;
}

/* border radius */
td {
  border-radius: 6px;
  padding-bottom: 8px;
}

